@model ThirdSemesterProject.WebSite.Models.Cart

@{
    ViewBag.Title = "Check Out";
}

<h2>Check Out</h2>

@using (Html.BeginForm("Create", "Cart", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    // Form fields here
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay Order" class="btn btn-success" />
        </div>
    </div>
}